---
layout: default
---
<link rel="stylesheet" href="{{ '/assets/css/projects.css' | relative_url }}">

<div id="projects-grid" class="flex-grow-1 px-xl-1">
  {% for project in site.projects %}
    <article class="project-card-wrapper">
      <div class="project-content">
        <a href="{{ project.url | relative_url }}" class="project-link">
          <h1 class="project-title">{{ project.title }}</h1>

          {% if project.description %}
            <p class="project-description">{{ project.description }}</p>
          {% endif %}
        </a>

        {% if project.image %}
          {% assign src = project.image.path | default: project.image %}

          {% if project.media_subpath %}
            {% unless src contains '://' %}
              {% assign src = project.media_subpath
                | append: '/'
                | append: src
                | replace: '///', '/'
                | replace: '//', '/'
              %}
            {% endunless %}
          {% endif %}

          {% assign alt = project.image.alt | xml_escape | default: project.title %}

          <img src="{{ src }}" alt="{{ alt }}" class="project-image">
        {% endif %}
      </div>
    </article>
  {% endfor %}
</div>
